@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('https://source.unsplash.com/collection/1408037/1600x900') no-repeat center / cover;
}
main {
    flex: 1 0 auto;
    width: 100%;
}
#clock {
    text-align: center;
}
h1 {
    font-weight: 100;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.msg{
    text-align: center;
    padding: 0.2rem;
}
.search, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.form{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.searchCity {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.searchInput {
    width: 100%;
    color: #fff;
    font-weight: normal;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 0.4rem 2rem;
    border-radius: 3.125rem;
    background: url("./images/search\(1\).svg") no-repeat left 6px center;
}
::placeholder {
    color: #fff;
    opacity: 0.9;
}
.submit {
    text-align: center;
    padding: 0.5rem;
}
.btn {
    width: 60%;
    border: none;
    outline: none;
    border-radius: 3.125rem;
    background-color: black;
    color: #fff;
    padding: 0.6rem 1rem;
}
.btn:hover {
    background-color: black;
}
/**
.cities {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    width: 100%;
    align-items: center;
    list-style: none;
    text-align: center;
}*/
.cities {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 2rem;
    width: 100%;
}
.city {
    background-color: #0000002e;
    opacity: 0.9;
    width: 25rem;
    max-width: 100%;
    border-radius: 1rem;
    padding: 0.1rem;
    margin: 0.1rem;
}
.city-name {
    font-weight: 400;
    font-size: 2rem;
}
.temp {
    font-size: 4rem;
    margin: 0;
}
/**Sinner*/
#loader {
    visibility: hidden;
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    border-top: 3px solid #000;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
#loader.show {
    visibility: visible;
}
#copyright {
    padding: 0.1rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

@media only screen and (max-width: 400px) {
    .cities {
        grid-template-columns: auto;
    }
}
@media only screen and (min-width: 601px){
    .cities {
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 769px){
    .cities {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 992px){
    .cities {
        grid-template-columns: auto auto auto;
    }
}
